body{
    overflow-x: hidden;
    background-color: #0f0442 !important;
}

.box{
    background-color: #4008c4 !important;
    height: 100vh;
    background-image: linear-gradient(to bottom left, #1a25bd , #351c5c);
}
.boxes1{
    padding-top: 15px !important;
    padding-left:170px !important;
    padding-bottom: 10px !important;

}
.boxes2{
    padding-top: 15px !important;
    padding-right: 170px !important;
    padding-bottom: 10px !important;

}
.earth,.world{
    text-align: center;
}
.world{
    padding-top: 20px;
}
.earth_pic{
    height: 320px !important;
    width: 320px !important;
    padding: 30px 30px 15px 30px;
}
.errors{
    padding: 10px 25px 10px 25px;
    color: #c0a6fd !important;
}
.msghead{
    display: flex !important;
    gap: 25px;
  
  }
.e1{
    height: 90px;
    background-image: linear-gradient(to bottom left, #3100b9 , #3d206b);
    border-radius: 5px;
    opacity: 0.7;
    padding:20px;
    
}
.card_1{
    padding-top: 25px !important;
    padding-left: 30px !important;
    padding-bottom: 10px !important;
}
.card_2{
    padding-top: 25px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
}
.card{
    background-image: linear-gradient(to bottom left, #3100b9 , #3d206b);
    background-color: #442a80 !important;
    padding: 10px;
    /* font-size: 13px !important; */
    color: #c0a6fd !important;

}
.num{
    font-size: 24px;
    font-weight: 600;
}
.dot{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    /* margin-top: 10px; */
}
.title{
    font-size: 14px;
}


@media only screen and (max-width: 760px) {
    .boxes1{
    padding-top: 20px !important;
    padding-right:120px !important;
}
    .boxes2{
    padding-top: 20px !important;
    padding-left: 120px !important;
}
}
@media only screen and (max-width: 420px) {
    .boxes1{
        padding: 39px !important;
}
    .boxes2{
        padding: 39px !important;
}
}